.alumni{
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: /aqua; */
}

.alumni h1{
    font-weight: 800;
}
.carousel{
    /* min-height: 95%; */
    width: 90%;
    min-height: 70vh;
    margin-bottom: 2rem;
    text-align: center;
    
}

.carousel_control_next_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: 50%/100% 100% no-repeat;
    /* padding: 15px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid white; */
}
.control{
    border-radius: 50%;
    color: #fff !important;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
}
.slide{
    background-color: #295782;
    /* max-height: 75vh; */
    min-height: 70vh;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    /* width: 75%; */
    /* margin: 0 auto; */

}
.caption{
    padding: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    align-items: center;
}
.caption p{
    width: 70%;
}
.caption  img{
    height: 150px;
    width: 150px;
    /* position: static; */
    /* transform: translateY(50%); */
    margin-bottom: 2rem;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.company{
    color: #9A9696;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.slide h5{
    opacity: 0.8;
}
@media(max-width: 760px) {
    .slide{
        min-height: 90vh;
        width: 100%;
    }
    .slide > img{
        transform: translateY(10%);
        /* height: 175px;
        width: 75px; */
    }
    .caption p{
        width: 80%;
    }
    .carousel_control_next_icon {
        height: 30px;
        width: 30px;

    }
}