/* HERO START*/
.hero {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}
.hero > img{
  object-fit: cover;
}
/* HERO END*/


.desc{
  width: 70%;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width:800px) {
  .desc{
    width: 95%;
  }
  .content h1{
    font-size: 4rem;
  }
  .content p{
    font-weight: 400;
    font-size: 20px;
  }
}