.team {
  min-height: 100vh;
  width: 100%;
}

.container {
  min-height: 80vh;
  padding-bottom: 3em;
  overflow: hidden;
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
}
.secCardCol {
  margin: 1rem 0;
  /* height: 300px; */
  /* min-height: 400px; */
}
.memCardCol {
  margin: 1rem 0;
  /* height: 300px; */
  /* min-height: 400px; */
}
.jsec {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 1.5em;
  overflow-x: hidden;
  /* padding: 1em; */
}

.scroller{
  border-radius: 50%;
  background-color: #00000090;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 10000;
}


@media screen and (max-width: 600px) {
  .memCardCol{
    width: 50% !important;
  }
}